body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #ffffff;
  background-position: top center;
	
/*
	background-image:url(../img/sedona-index-1200.jpg);
	background-repeat: no-repeat;
*/
}

.inner-page {
  background-color: #fefefe;
/*
	background-image: url(../img/sedona-hotels-1200.jpg);
	background-repeat: no-repeat;
*/
}

.container {
	width: 1200px;
	margin: 0 auto;	
	border-left: 40px solid #f2f2f2;
	border-right: 40px solid #f2f2f2;
	
		
}

a {
  text-decoration: none;
}

.main-header {
/*  min-height: 56px;*/
/*
  background-color: rgba(255,0,0,0.3);
  outline: 1px solid yellow;
*/
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
/*
	background-color: rgba(225,78,233,0.2);
outline: 1px solid blue;
*/
}

.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%,0);
/*
  outline: 1px solid purple;
  background-color: rgba(0,0,255,0.2);
*/
}

.site-navigation {
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 56px;
/*
  outline: 1px solid green;
  background-color: rgba(80,134,255,0.2);
*/
}

.navigation-link {
	width: 20%;	
}

.site-navigation a {
  color: #000000;
}

.knowing {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 53px;
	width: 100%;
  background-image: url(../img/background.jpg);
/*  background-position: top center;*/
  background-repeat: no-repeat;
/*	background-size: cover;*/
/*  text-align: center;*/
  background-color: #ddecf4;
/*
	background-color: rgba(127,255,212,0.2);
  outline: 2px solid blue;
*/
}

.knowing-wrap {
	position: relative;
	display: flex;
	flex-direction: column;
/*	flex-wrap: wrap;*/
/*	align-content: space-between;*/
	justify-content: flex-end;
/*	padding-top: 66px;*/
	align-items: center;
	min-height: 455px;
}

.intro {
	display: flex;
	height: 216px;
	flex-direction: column;
  background-color: #ffffff;
  text-align: center;
  background-position: 50% 50%;
  background-repeat: no-repeat;
/*	background-color: rgba(255,255,0,0.3);*/
/*
  outline: 1px solid red;
	margin-bottom: 32px;
*/
}

.intro h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
	margin-top: 62px;
/*  min-height: 50px;*/
/*
  background-color: rgba(225,78,233,0.6);
  outline: 1px solid blue;
*/
}

.intro p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
/*	min-height: 16px;*/
/*  margin-top: 33px;*/
/*
  outline: 1px solid purple;
  background-color: rgba(0,0,255,0.2);
*/
}

.factor {
  display: flex;
/*	flex-direction: column;*/
  height: 256px;
/*
  outline: 2px dotted black;
  background-color: rgba(255,0,255,0.2);
*/
}

.factor-devil {
  display: flex;	
/*	flex-direction: column;*/
  height: 256px;
/*
  outline: 2px dotted black;
  background-color: rgba(255,0,255,0.2);
*/
}

.factor-view-devil {
	order: -1;
}

.factor-place-devil {
  background-color: #81b3d2;
  text-align: center;
/*	min-height: 256px;*/
  width: 400px;
	padding-top: 30px;
/*
  outline: 1px solid green;
  background-color: rgba(80,134,255,0.3);
*/
}

.factor-place {
  background-color: #81b3d2;
  text-align: center;
/*	min-height: 256px;*/
  width: 400px;
	padding-top: 30px;
/*
  outline: 1px solid green;
  background-color: rgba(80,134,255,0.3);
*/
}

.factor-place h2 {
	
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.factor-place p, span {	
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.factor-place-devil h2 {
	
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.factor-place-devil p, span {	
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.features  {
/*	display: flex;*/
/*  text-align: center;*/
}

.features h2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.features-list {
	display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 330px;
/*
  background-color: rgba(106,90,205,0.3);
  outline: 1px solid orangered;
*/
}

/*
.features-advice h2,p{
	display: block;
	text-align: center;/
} 
*/


.features-advice {
/*	display: flex;*/
/*	flex-direction: column;*/
/*	justify-content: center;*/
  height: 270px;
  width: 320px;
	text-align: center;
	padding-top: 56px;
/*	padding-bottom: 84px;*/
/*
  background-color: rgba(0,255,127,0.4);
  outline: 1px solid fuchsia;
*/
}

.factor-features {
  background-color: #eeeeee;
  text-align: center;
	display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 256px;
/*
  background-color: rgba(106,90,205,0.3);
  outline: 1px solid orangered;	
*/
}

.factor-sight {
  height: 160px;
  width: 270px;
/*
  background-color: rgba(0,255,127,0.4);
  outline: 1px solid fuchsia;
*/
}

.factor-sight span {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.interest-block {
/*	display: flex;*/
/*	flex-direction: column;*/
/*	justify-content: space-around;*/
/*	align-items: center;*/
	display: block;
	text-align: center;	
  background-color: #ffffff;
/*  text-align: center;*/
/*	min-height: 291px;*/
/*
  outline: 2px solid green;
  background-color: rgba(80,134,255,0.3);
*/
}

.interest-block a:hover,
.interest-block a:focus {
  background-color: #604e43;
}

.interest-block a:active {
  color: rgba(255,255,255,0.3);
  background-color: #503e33;
}

.interest-block h2 {
	display: block;
	margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
	padding-top: 50px;
	padding-bottom: 23px;
  color: #000000;
}

.interest-block p {
	display: block;
	margin: 0;
	padding-bottom: 48px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;	 
  color: #333333;
}

.interest-block a {
	display: block;
	width: 568px;
	margin-left: 316px; 
/*	padding-left: 50%;*/
	
/*	padding-bottom: 80px;*/
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
/*	width: 30%;*/
/*	height: 86px;*/
padding: 30px 0;
}

.map {
/*
	display: flex;
	align-items: center;
	flex-direction: column;
*/
  background-image: url(../img/map.jpg);
  background-position: 50% 50%;
  width: 1200px;
  height: 593px;
  text-align: center;
	min-height: 593px;
/*
  background-color: rgba(225,78,233,0.6);
  outline: 2px solid rgba(0,255,255,0.4);
*/
}

.search {
	margin: 0 auto;
  background-color: #ffffff;
/*	min-height: 395px;*/
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
  width: 458px;
	padding: 55px;
	padding-bottom: 39px;
	
/*
  background-color: rgba(255,255,0,0.3);
  outline: 1px solid red;
*/
}

.search-data {
	position: relative;
	display: flex;
/*	justify-content: space-between;*/
/*	align-items: center;*/
/*	padding-left: 0;*/
	padding-bottom: 29px;
	margin: 0;
	margin-right: auto;
	width: 100%;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

/*
.button-calendar {
	position: absolute;
	right: 10px;
}
*/

/*
.button-calendar::after {
	position: absolute;
	top: 10px;
	right: 10px;
	content: "";
	width: 21px;
	height: 22px;
	background-image: url(../img/calendar.svg);
	background-repeat: no-repeat;	
	background-position: 0 0;
	opacity: 0.3;
}
*/

.search-people,
.search-kids{
/*	position: relative;*/
/*	justify-content: flex-end;*/
/*	align-self: center;*/
	width: 50%;
/*	padding-left: 20px;*/
}

/*
.search-people input {
	width: 85%;
}
*/

/*
.search-people:first-child {
	margin-right: 20px;
}
*/

.search-data input {
	display: block;
/*	box-sizing: border-box;*/
	width: 329px;
/*	margin-left: 25px;	*/
	margin-left: auto;
/*	min-height: 34px;*/
  font: inherit;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: 1px solid transparent;
	padding: 5px;
	padding-left: 10px;
}

.search-people input {	
/*	padding: 0;*/
/*	padding-left: 20px;*/
	width: 114px;
/*	margin-top: 1px;*/
	text-align: center;
}

/*
.button-wrapper {
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: space-between;
	outline: 2px solid red;
}
*/

.search-kids input {
	width: 114px;
}

.search-people label {
	position: relative;
/*	display: inline-block;*/
/*	min-width: 90px;*/
	align-self: center;
/*	margin-left: 10px;*/
/*	padding: 0;*/
/*	padding-right: 24px;*/
	
/*	outline: 2px solid red;*/
}

.search-kids label {
	
}

.search-data input:hover {
  background-color: #ebebeb;
}

.search-data input:focus {
  background-color: transparent;
  border: 1px solid #f2f2f2;
  outline: none;
}

.search-data button {
  color: rgba(0,0,0,0.3);
  background-color: #f2f2f2;
  border: none;
}

.search-people button {
	padding: 0;
	margin: 0;
}

.search-data button:hover,
.search-data button:focus {
  color: #000000;
}

.search-data button:active {
  color: #81b3d2;
}

/*
.button-minus {
	margin: 0;
	margin-left: auto;
}
*/

.button-search-wrapper {
	width: 100%;
	padding-top: 10px;
}

.button-search {
	width: 100%;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  text-transform: uppercase;
	padding: 16px 0;
	margin-top: auto; 

}

.button-search:hover,
.button-search:focus {
  background-color: #669ec0;
}

.button-search:active {
  color: rgba(255,255,255,0.3);
  background-color: #5496bd;
}

.main-footer {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
  background-color: #ffffff;
	
/*  text-align: center;*/
/*	margin-top: auto;*/
/*  min-height: 120px;*/
/*  width: 1200px;*/
/*
  background-color: rgba(80,134,255,0.5);
  outline: 2px dotted green;
*/
}

.main-footer-opacity {
	height: 120px;
	background-color: rgba(255,255,255,0.9);
	margin-top: -120px;
}

.main-footer-catalog-opacity {
	height: 120px;
	background-color: rgba(255,255,255,0.9);
/*	margin-top: -120px;*/
}

.footer {
	margin: 0;
	padding: 0;
	padding-left: 43px;
/*	text-align: center;*/
	width: 150px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.social-list {
  list-style: none;
	width: 150px;
	display: flex;		
	justify-content: space-between;	
  margin: 0;
  padding: 0;
	padding-left: 63px;
}

.social-button {
	display: flex;
	width: 46px;
	height: 48px;
	align-items: center;
	justify-content: center;
  background-color: #81b3d2;
}

.social-list a:hover,
.social-list a:focus {
  background-color: #669ec0;
}

.social-list a:active {
  color: rgba(0,0,0,0.3);
  background-color: #5496bd;
}

/*
.footer-tag {
  margin-top: 49px;
  margin-left: 132px;
  height: 25px;
  width: 136px;
  background-color: rgba(255,25,0,0.3);
}
*/

.footer-social {
/*
  margin-top: 36px;
  margin-left: 256px;
*/
/*  height: 48px;*/
  width: 250px;
/*  background-color: rgba(0,255,127,0.4);*/
}

.footer-copyright {
	display: flex;
	justify-content: center;
/*	align-items: center;*/
	margin: 0;
	padding: 0;
	padding-top: 5px;
/*	outline: 2px solid green;*/
/*
  margin-top: 39px;
  margin-left: 229px;
*/
/*  height: 41px;*/
  width: 220px;
/*  background-color: rgba(200,25,127,0.4);*/
}

.footer-copyright a {
/*
	margin: 0;
	padding: 0;
*/
/*
	display: flex;
	width: 20px;
	height: 20px;
*/
/*
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: lowercase;
*/
/*	outline: 2px solid red;*/
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  color: #669ec0;
}

.footer-copyright a:active {
  color: rgba(0,0,0,0.3);
}

.footer-copyright b {
/*	display: block;*/
	margin: 0;
	padding: 0;
	padding-right: 8px;
	padding-top: 6px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

/*str2*/

.filters {		
	width: 100%;
		
  background-image: url(../img/filter.jpg);
  background-repeat: no-repeat;
/*  background-position: 50% 50%;*/
  background-color: #7d9dbe;
/*  text-align: left;*/
/*
	background-color: rgba(127,255,212,0.2);
  outline: 1px solid blue;
*/
}

.filter {
	display: flex;
	height: 217px;
	justify-content: space-between;
/*
	background-color: rgba(27,25,212,0.2);
  outline: 2px solid yellow;
*/
}

.filters-choice {
	display: flex;	
}

filters-wrapper {
	display: flex;
	width: 50%;
/*
	background-color: rgba(217,25,212,0.2);
	outline: 2px solid green;
*/
}

.filters fieldset {
  border: none;
}

.filters li {
  list-style: none;
}

.filters-header {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.filter-option,
.filter-button {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.filter-button {
  background-color: transparent;
  text-transform: uppercase;
  border: 2px solid #ffffff;
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  background-color: #ffffff;
  color: #000000;
}

.navigation-link a:hover,
.navigation-link a:focus {
  color: #81b3d2;
}

.navigation-link a:active {
  color: rgba(0,0,0,0.3);
}

.current a{
  color: #766357;
}

.sorting {
	height: 87px;
	display: flex;
	justify-content: space-around;
/*	background-color: rgba(240, 128, 128, 0.3);*/
}

.sorting-list {
	margin: 0;
	padding: 0;
	display: flex;
	width: 288px;
	justify-content: space-around;
}

.sorting-result {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.sorting-arrow {
	display: flex;
	margin: 0;
	padding: 0;
}

.sorting li {
  list-style: none;
}

.sorting-kind {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

.sorting-list a {
  color: rgba(0,0,0,0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sorting-list a:active {
  color: #000000;
  border-bottom: none;
}

.sorting-list a:hover,
.sorting-list a:focus,
 {
  color: #81b3d2;
}

.sorting-current {
  color: #81b3d2;
}

.sorting-arrow span {
  color: rgba(0,0,0,0.3);
}

.arrow span:hover,
.arrow span:focus {
  color: #231f20;
}

.arrow-active span {
  color: #81b3d2;
}

.arrow span:active {
  color: #81b3d2;
}


.found {
	display: flex;
/*	height: 150px;*/
	justify-content: space-between;
	align-items: center;
  border-top: 1px solid #e5e5e5;
	padding: 30px 70px;
}

.found:nth-child(3) {
	border-bottom: 1px solid #e5e5e5;
}

.found-declaration {
/*	display: flex;*/
	width: 360px;
/*	outline: 2px solid red;*/
	margin-right: auto;
}

.found-declaration h2 {
	margin: 0;
}

.found-wrapper {
	display: flex;
	justify-content: flex-start;	
}

.found-image {
	height: 90px;
/*	outline: 2px solid pink;*/
	margin-right: 30px;	
}

.found-item {
/*	width: 365px;*/
	display: flex;
	flex-direction: column;	
/*	width: 40%;*/
/*	outline: blue solid 2px;*/
	margin-right: 6px;	
}

.found-book {
	display: flex;
	flex-direction: column;	
/*	width: 40%;*/
/*	outline: 2px solid black;*/
}


.found-declaration-header a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.found-declaration-header a:hover,
.found-declaration-header a:focus {
  color: #81b3d2;
}

.found-declaration-header a:active {
  color: rgba(0,0,0,0.3);
}

.found-book span {	
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
	
}

.found-book a {
	padding: 5px 17px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
	
}

.found-book a:hover,
.found-book a:focus {
  background-color: #604e43;
}

.found-book a:active {
  color: rgba(255,255,255,0.3);
  background-color: #503e33;
}

.found-item a {
	padding: 5px 17px;	
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
}

.found-item a:hover,
.found-item a:focus {
  background-color: #669ec0;
}

.found-item a:active {
  color: rgba(255,255,255,0.3);
  background-color: #5496bd;
}

.found-item span {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.found-valuation span {
  color: #666666;
  background-color: #f2f2f2;
}


.visually-hidden {
	font-size: 0px;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;  
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; 
}
