body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #ffffff;
  background-position: top center;
	
/*
	background-image:url(../img/sedona-index-1200.jpg);
	background-repeat: no-repeat;
*/
}

.inner-page {
  background-color: #fefefe;
/*
	background-image: url(../img/sedona-hotels-1200.jpg);
	background-repeat: no-repeat;
*/
}

.container {
	width: 1200px;
	margin: 0 auto;	
/*
	border-left: 40px solid #f2f2f2;
	border-right: 40px solid #f2f2f2;
*/
	
		
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
/*  min-height: 56px;*/
/*
  background-color: rgba(255,0,0,0.3);
  outline: 1px solid yellow;
*/
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
/*
	background-color: rgba(225,78,233,0.2);
outline: 1px solid blue;
*/
}

.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%,0);
/*
  outline: 1px solid purple;
  background-color: rgba(0,0,255,0.2);
*/
}

.site-navigation {
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 56px;
/*
  outline: 1px solid green;
  background-color: rgba(80,134,255,0.2);
*/
}

.navigation-link {
	width: 20%;	
}

.site-navigation a {
  color: #000000;
}

.knowing {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 53px;
	width: 100%;
  background-image: url(../img/background.jpg);
/*  background-position: top center;*/
  background-repeat: no-repeat;
/*	background-size: cover;*/
/*  text-align: center;*/
  background-color: #ddecf4;
/*
	background-color: rgba(127,255,212,0.2);
  outline: 2px solid blue;
*/
}

.knowing-wrap {
	position: relative;
	display: flex;
	flex-direction: column;
/*	flex-wrap: wrap;*/
/*	align-content: space-between;*/
	justify-content: flex-end;
/*	padding-top: 66px;*/
	align-items: center;
	min-height: 455px;
}

.intro {
	display: flex;
	height: 216px;
	flex-direction: column;
  background-color: #ffffff;
  text-align: center;
  background-position: 50% 50%;
  background-repeat: no-repeat;
/*	background-color: rgba(255,255,0,0.3);*/
/*
  outline: 1px solid red;
	margin-bottom: 32px;
*/
}

.intro h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
	margin-top: 62px;
/*  min-height: 50px;*/
/*
  background-color: rgba(225,78,233,0.6);
  outline: 1px solid blue;
*/
}

.intro p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
/*	min-height: 16px;*/
/*  margin-top: 33px;*/
/*
  outline: 1px solid purple;
  background-color: rgba(0,0,255,0.2);
*/
}

.factor {
  display: flex;
/*	flex-direction: column;*/
  height: 256px;
/*
  outline: 2px dotted black;
  background-color: rgba(255,0,255,0.2);
*/
}

.factor-devil {
  display: flex;	
/*	flex-direction: column;*/
  height: 256px;
/*
  outline: 2px dotted black;
  background-color: rgba(255,0,255,0.2);
*/
}

.factor-view-devil {
	order: -1;
}

.factor-place-devil {
  background-color: #81b3d2;
  text-align: center;
/*	min-height: 256px;*/
  width: 400px;
	padding-top: 30px;
/*
  outline: 1px solid green;
  background-color: rgba(80,134,255,0.3);
*/
}

.factor-place {
  background-color: #81b3d2;
  text-align: center;
/*	min-height: 256px;*/
  width: 400px;
	padding-top: 30px;
/*
  outline: 1px solid green;
  background-color: rgba(80,134,255,0.3);
*/
}

.factor-place h2 {
	
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.factor-place p, span {	
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.factor-place-devil h2 {
	
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.factor-place-devil p, span {	
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.features  {
/*	display: flex;*/
/*  text-align: center;*/
}

.features h2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.features-list {
	display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 330px;
/*
  background-color: rgba(106,90,205,0.3);
  outline: 1px solid orangered;
*/
}

/*
.features-advice h2,p{
	display: block;
	text-align: center;/
} 
*/


.features-advice {
/*	display: flex;*/
/*	flex-direction: column;*/
/*	justify-content: center;*/
  height: 270px;
  width: 320px;
	text-align: center;
	padding-top: 56px;
/*	padding-bottom: 84px;*/
/*
  background-color: rgba(0,255,127,0.4);
  outline: 1px solid fuchsia;
*/
}

.factor-features {
  background-color: #eeeeee;
  text-align: center;
	display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 256px;
/*
  background-color: rgba(106,90,205,0.3);
  outline: 1px solid orangered;	
*/
}

.factor-sight {
  height: 160px;
  width: 270px;
/*
  background-color: rgba(0,255,127,0.4);
  outline: 1px solid fuchsia;
*/
}

.factor-sight span {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.interest-block {
/*	display: flex;*/
/*	flex-direction: column;*/
/*	justify-content: space-around;*/
/*	align-items: center;*/
	display: block;
	text-align: center;	
  background-color: #ffffff;
/*  text-align: center;*/
/*	min-height: 291px;*/
/*
  outline: 2px solid green;
  background-color: rgba(80,134,255,0.3);
*/
}

.interest-block a:hover,
.interest-block a:focus {
  background-color: #604e43;
}

.interest-block a:active {
  color: rgba(255,255,255,0.3);
  background-color: #503e33;
}

.interest-block h2 {
	display: block;
	margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
	padding-top: 50px;
	padding-bottom: 23px;
  color: #000000;
}

.interest-block p {
	display: block;
	margin: 0;
	padding-bottom: 48px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;	 
  color: #333333;
}

.interest-block a {
	display: block;
	width: 568px;
	margin-left: 316px; 
/*	padding-left: 50%;*/
	
/*	padding-bottom: 80px;*/
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
/*	width: 30%;*/
/*	height: 86px;*/
padding: 30px 0;
}

.map {
/*
	display: flex;
	align-items: center;
	flex-direction: column;
*/
  background-image: url(../img/map.jpg);
  background-position: 50% 50%;
  width: 1200px;
  height: 593px;
  text-align: center;
	min-height: 593px;
/*
  background-color: rgba(225,78,233,0.6);
  outline: 2px solid rgba(0,255,255,0.4);
*/
}

.search {
	margin: 0 auto;
  background-color: #ffffff;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
  width: 458px;
	padding: 55px;
	padding-bottom: 25px;  
/*  outline: 1px solid red;*/
}

.search p {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
/*	padding-left: 0;*/
	padding-bottom: 29px;
	margin: 0;
	margin-right: auto;
	width: 100%;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.button-calendar {
	position: absolute;
	top: 10;
	right: 10px;
	background: transparent;
/*	outline: 1px solid red;*/
	background-image: url(../img/calendar.svg);
	width: 21px;
	height: 22px;	
}

.button-calendar:hover,
.button-calendar:focus {
	position: absolute;
	top: 8px;
	right: 10px;
	content: "";
	width: 21px;
	height: 22px;
	background-image: url(../img/calendar-hover.svg);
	background-repeat: no-repeat;	
	background-position: 0 0;

}

.button-calendar:active {
	position: absolute;
	top: 8px;
	right: 10px;
	content: "";
	width: 21px;
	height: 22px;
	background-image: url(../img/calendar-active.svg);
	background-repeat: no-repeat;	
	background-position: 0 0;

}





.search-visitors-arrival {
	box-sizing: border-box;
/*	margin: 0;*/
    width: 100%;
/*    height: 38px;*/
    display: flex;
    justify-content: space-between;
    align-content: center;	
}

.search-visitors {	
/*	margin: 0;*/
	position: relative;
	
}

.children {
	padding-left: 53px;	
}



.search-data input {
	display: block;
/*	box-sizing: border-box;*/
	width: 329px;
/*	margin-left: 25px;	*/
/*	margin-left: auto;*/
/*	min-height: 34px;*/
  font: inherit;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: 1px solid transparent;
	padding: 5px;
	padding-left: 10px;
}

.search-visitors input {
	display: block;
    width: 114px;
/*    height: 38px;*/
    box-sizing: border-box;
    margin-left: 41px;
    padding-left: 38px;
    padding-right: 38px;
		text-align: center;
	border: 1px solid transparent;
	font: inherit;
/*  text-transform: uppercase;*/
  background-color: #f2f2f2;
		padding: 5px;
}

.children input {
	 margin-left: 0;	
}

.search-visitors-arrival button {
/*	display: flex;*/
		border: 0;
    background-color: transparent;
    width: 38px;
    height: 38px;
    box-sizing: border-box;
    position: absolute;
    cursor: pointer;	
}


.search-visitors .button-minus-adults {
    left: 112px;
    background-image: url(../img/minus.svg);
    background-position: center;
    background-repeat: no-repeat;		
}

.search-visitors .button-minus-children {
    left: 119px;
    background-image: url(../img/minus.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.search-visitors .button-minus-adults:hover,
.search-visitors .button-minus-adults:focus {
    left: 112px;
    background-image: url(../img/minus-hover.svg);
    background-position: center;
    background-repeat: no-repeat;		
}

.search-visitors .button-minus-children:hover,
.search-visitors .button-minus-children:focus {
    left: 119px;
    background-image: url(../img/minus-hover.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.search-visitors .button-minus-adults:active {
    left: 112px;
    background-image: url(../img/minus-active.svg);
    background-position: center;
    background-repeat: no-repeat;		
}

.search-visitors .button-minus-children:active {
    left: 119px;
    background-image: url(../img/minus-active.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.search-visitors .button-plus-adults {
    top: 0px;
    left: 187px;
    background-image: url(../img/plus.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.search-visitors .button-plus-children {
    top: 0px;
    left: 194px;
    background-image: url(../img/plus.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.search-visitors .button-plus-adults:hover,
.search-visitors .button-plus-adults:focus {
    top: 0px;
    left: 187px;
    background-image: url(../img/plus-hover.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.search-visitors .button-plus-children:hover,
.search-visitors .button-plus-adults:focus {
    top: 0px;
    left: 194px;
    background-image: url(../img/plus-hover.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.search-visitors .button-plus-adults:active {
    top: 0px;
    left: 187px;
    background-image: url(../img/plus-active.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.search-visitors .button-plus-children:active {
    top: 0px;
    left: 194px;
    background-image: url(../img/plus-active.svg);
    background-position: center;
    background-repeat: no-repeat;
}

/*
.button-wrapper {
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: space-between;
	outline: 2px solid red;
}
*/


.map input:hover {
  background-color: #ebebeb;
}

.map input:focus {
  background-color: transparent;
  border: 1px solid #f2f2f2;
  outline: none;
}

.search-data button {
  color: rgba(0,0,0,0.3);
  background-color: #f2f2f2;
  border: none;
}



.search-data button:hover,
.search-data button:focus {
  color: #000000;
}

.search-data button:active {
  color: #81b3d2;
}

/*
.button-minus {
	margin: 0;
	margin-left: auto;
}
*/



.button-search-wrapper {
	width: 100%;
	padding-top: 23px;
}

.button-search {
	width: 100%;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  text-transform: uppercase;
	padding: 15px 0;
	margin-top: auto; 

}

.button-search:hover,
.button-search:focus {
  background-color: #669ec0;
}

.button-search:active {
  color: rgba(255,255,255,0.3);
  background-color: #5496bd;
}

.main-footer {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
  background-color: #ffffff;
	
/*  text-align: center;*/
/*	margin-top: auto;*/
/*  min-height: 120px;*/
/*  width: 1200px;*/
/*
  background-color: rgba(80,134,255,0.5);
  outline: 2px dotted green;
*/
}

.main-footer-opacity {
	height: 120px;
	background-color: rgba(255,255,255,0.9);
	margin-top: -120px;
}

.main-footer-catalog-opacity {
	height: 120px;
	background-color: rgba(255,255,255,0.9);
/*	margin-top: -120px;*/
}

.footer {
	margin: 0;
	padding: 0;
	padding-left: 43px;
/*	text-align: center;*/
	width: 150px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.social-list {
  list-style: none;
	width: 150px;
	display: flex;		
	justify-content: space-between;	
  margin: 0;
  padding: 0;
	padding-left: 63px;
}

.social-button {
	display: flex;
	width: 46px;
	height: 48px;
	align-items: center;
	justify-content: center;
  background-color: #81b3d2;
}

.social-list a:hover,
.social-list a:focus {
  background-color: #669ec0;
}

.social-list a:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #5496bd;
	fill: black;
}

.social-list a:active path {
	fill: #88b6d1;
}

/*
.footer-tag {
  margin-top: 49px;
  margin-left: 132px;
  height: 25px;
  width: 136px;
  background-color: rgba(255,25,0,0.3);
}
*/

.footer-social {
/*
  margin-top: 36px;
  margin-left: 256px;
*/
/*  height: 48px;*/
  width: 250px;
/*  background-color: rgba(0,255,127,0.4);*/
}

.footer-copyright {
	display: flex;
	justify-content: center;
/*	align-items: center;*/
	margin: 0;
	padding: 0;
	padding-top: 5px;
/*	outline: 2px solid green;*/
/*
  margin-top: 39px;
  margin-left: 229px;
*/
/*  height: 41px;*/
  width: 220px;
/*  background-color: rgba(200,25,127,0.4);*/
}

.footer-copyright a {
/*
	margin: 0;
	padding: 0;
*/
/*
	display: flex;
	width: 20px;
	height: 20px;
*/
/*
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: lowercase;
*/
/*	outline: 2px solid red;*/
}

.footer-copyright a:hover path,
.footer-copyright a:focus path {
  fill: #669ec0;
}

.footer-copyright a:active path{
  fill: #bdbbbc;
}

.footer-copyright b {
/*	display: block;*/
	margin: 0;
	padding: 0;
	padding-right: 8px;
	padding-top: 6px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

/*str2*/
/*88888888888888888888888888888888888888*/
.filters {		
	width: 100%;		
  background-image: url(../img/filter.jpg);
  background-repeat: no-repeat;
/*  background-position: 50% 50%;*/
  background-color: #7d9dbe;
/*  text-align: left;*/
/*	background-color: rgba(127,255,212,0.2);*/
/*  outline: 1px solid blue;*/
}

.filter {
	display: flex;
	height: 217px;	
	justify-content: space-between;
/*	outline: 2 px solid brown;*/
/*
	background-color: rgba(27,25,212,0.2);
  outline: 2px solid yellow;
*/
}

.filters-header {
	padding-top: 26px;
/*	padding-left: 60px;*/
	margin-bottom: 25px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.filters fieldset {
/*	box-sizing: border-box;*/
	
	width: 150px;
	padding: 0;
  margin: 0;
	margin-left: 72px;
  border: none;
/*	outline: 2px solid red;*/
}

.filters fieldset:nth-child(2){
	margin-left: 107px;
	margin-right: auto;
}

.filter ul {
	padding: 0;
  margin: 0;
	list-style: none;
}

.filter-option {
/*
	background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
*/
	margin-left: 39px;
	margin-bottom: 25px;	
}

/*
filter-option-house {
	padding-left: 3px;
}
*/

/*
filter-option-house label{
	padding-left: 5px;
}
*/

.filter-option label {
	position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}




.filter-input-checkbox:disabled + label::before {
	content: "";
  position: absolute;
	left: -39px;
  width: 28px;
  height: 28px;  
	background-image: url(../img/checkbox-off-disabled.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-input-checkbox:checked:disabled + label::after {
	content: "";

  position: absolute;
	left: -39px;
  width: 28px;
  height: 28px;  
	background-image: url(../img/checkbox-on-disabled.svg);
	background-repeat: no-repeat;
	background-position: 0 0; 
}



.filter-input-checkbox + label::before {
	content: "";
  position: absolute;
	left: -39px;
  width: 28px;
  height: 28px;  
	background-image: url(../img/checkbox-off.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}


.filter-input-checkbox:checked + label::after {
	content: "";
  position: absolute;
	left: -39px;
  width: 28px;
  height: 28px;  	
	background-image: url(../img/checkbox-on.svg);
	background-repeat: no-repeat;
	background-position: 0 0; 
}


/*filters-wrapper {*/
/*	display: flex;*/
/*	width: 50%;*/
/*
	background-color: rgba(217,25,212,0.2);
	outline: 2px solid green;
*/
/*}*/

.filter-option,
.filter-button {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.filter-button {
  background-color: transparent;
  text-transform: uppercase;
  border: 2px solid #ffffff;
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  background-color: #ffffff;
  color: #000000;
}

.navigation-link a:hover,
.navigation-link a:focus {
  color: #81b3d2;
}

.navigation-link a:active {
  color: rgba(0,0,0,0.3);
}

.current a{
  color: #766357;
}
/*888888888888888888888888888888888*/
.filter-range {
  width: 330px;
/*  margin: 50px auto;  для демо */

  color: #ffffff;
  text-transform: uppercase;
/*	outline: 2px solid red;*/
	margin-top: 27px;
  margin-right: 58px;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
	
  font-size: 14px;
  line-height: 21px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
	transform: scale(1.1);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 30px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}
/*999999999999999999999999999999999*/
.sorting {
	height: 86px;
	display: flex;
	position: relative;
/*	justify-content: space-between;*/
	align-items: center;
/*	background-color: rgba(240, 128, 128, 0.3);*/
}

.sorting p {
	margin: 0;
}
.sorting ul {
	margin: 0;
	padding: 0;
}

.sorting-list {
	margin: 0;
	display: flex;
	width: 235px;
	justify-content: space-between;
}

.sorting-result {
  font-size: 21px;
  line-height: 84px;
  font-weight: 700;
  color: #000000;
	text-align: center;
	padding-left: 71px;
}

.sorting-kind {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;	
	padding-left: 48px;
	padding-right: 42px;
}

.sorting-current {
  color: #81b3d2;
}

.sorting-arrow {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;	
	position: absolute;
	width: 34px;
  right: 73px;
  top: 34px;	
}



.sorting li {
  list-style: none;
	font-size: 12px;
}



.sorting-list a {
  color: rgba(0,0,0,0.3);
  border-bottom: 1px dotted #81b3d2;
}



.sorting-list a:hover,
.sorting-list a:focus
 {
  color: #81b3d2;	
}

.sorting-list a:active {
  color: #000000;
  border-bottom: none;
}

.sorting-arrow a {
  color: rgba(0,0,0,0.3);
}


.arrow:hover path,
.arrow:focus path {
  fill: #231f20;
}

.arrow:active path{
	fill: #81b3d2;
}

.arrow-active span {
  color: #81b3d2;
}

.arrow span:active {
  color: #81b3d2;
}

/*77777777777777777777777777777777777777*/
.found {
	display: flex;
	height: 90px;
	justify-content: space-between;
	align-items: center;
  border-top: 1px solid #e5e5e5;
	padding: 30px 70px;
}

.found:nth-child(3) {
	border-bottom: 1px solid #e5e5e5;
}

.found-declaration {
/*	display: flex;*/
	width: 360px;
/*	outline: 2px solid red;*/
	margin-right: auto;
}

.found-declaration h2 {
	margin: 0;
}

.found-wrapper {
	display: flex;
	justify-content: flex-start;	
}

.found-image {
	height: 90px;
/*	outline: 2px solid pink;*/
	margin-right: 30px;	
}

.found-item {
/*	width: 365px;*/
	display: flex;
	flex-direction: column;	
/*	width: 40%;*/
/*	outline: blue solid 2px;*/
	margin-right: 6px;	
}

.found-book {
	display: flex;
	flex-direction: column;	
/*	width: 40%;*/
/*	outline: 2px solid black;*/
}


.found-declaration-header a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.found-declaration-header a:hover,
.found-declaration-header a:focus {
  color: #81b3d2;
}

.found-declaration-header a:active {
  color: rgba(0,0,0,0.3);
}

.found-book span {	
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
	
}

.found-book a {
	padding: 5px 17px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
	
}

.found-book a:hover,
.found-book a:focus {
  background-color: #604e43;
}

.found-book a:active {
  color: rgba(255,255,255,0.3);
  background-color: #503e33;
}

.found-item a {
	padding: 5px 17px;	
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
}

.found-item a:hover,
.found-item a:focus {
  background-color: #669ec0;
}

.found-item a:active {
  color: rgba(255,255,255,0.3);
  background-color: #5496bd;
}

.found-item span {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.found-valuation span {
  color: #666666;
  background-color: #f2f2f2;
	padding: 5px 13px;
}

.found-stars {
	display: flex;
	justify-content: flex-end;	
	width: 110px;
}

.icon-star {
	margin-left: 7px;
	margin-bottom: 48px;
}

/*
.found-rate {
	position: relative;
}

.found-stars {
	position: absolute;
	bottom: 50px;
	right: 20px;
	width: 25px;
	height: 17px;	
	padding-left: 25px;
	background-image: url(../img/star.svg); 
}

.found-stars-amara {	
	width: 100px;

}
*/

/*
.icon-star {
	width: 30px;
	height: 40px;
}

.icon-star::before {
	content: "";
	position: absolute;
	top: 380px;
	right: 130px;
	width: 72px;
	height: 17px;
	background-image: url(../img/star.svg);
}
*/


/*
.visually-hidden {
	font-size: 0px;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;  
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; 
}
*/
